<div class="col-md-8 col-md-offset-2 text-center">
  <div class="timeline">
    <dl>
      <% @articles.group_by { |article| article.created_at.to_date }.each do |date, articles| %>
        <dt><%= date %></dt>
        <% articles.each_with_index do |article, index| %>
          <dd class="pos-<%= index.even? ? 'right' : 'left' %> clearfix">
            <div class="circ"></div>
            <div class="time"><%= article.created_at.to_time.strftime '%l:%M %p' %></div>
            <div class="events">
              <div class="events-body">
                <h4 class="events-heading">
                  <%= article.title %>
                </h4>
                <p><%= truncate article.text_body, length: 300 %></p>
                <p>
                  <%= link_to article_path article do %>
                    <button type="button" class="btn btn-success btn-block">Read more</button>
                  <% end %>
                </p>
              </div>
            </div>
          </dd>
        <% end %>
      <% end %>
    </dl>
  </div>
  <%= paginate @articles %>
</div>
