<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to t('home_link'), root_path, class: 'navbar-brand' %>
        </div>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <div class="footer">
      <div class="container">
        <div class="clearfix">
          <div class="footer-logo">
            <a>
              <%= image_tag 'logo.png' %>
            </a>
          </div>
        </div>
        <div class="footer-copyright text-center">
          <%= t 'copyright' %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
